.petsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.oneCardPets {
  box-sizing: border-box;
  padding: 14px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  width: 295px;
  height: 132px;
}

@media screen and (min-width: 768px) {
  .oneCardPets {
    padding: 22px 15px 22px 15px;
    width: 305px;
    height: 149px;
  }
}

@media screen and (min-width: 1280px) {
  .oneCardPets {
    padding: 20px;
    width: 440px;
    height: 130px;
  }
}
