.boxImg {
  /* max-width: 1280px; */
  height: 812px;
  background-image: url(../../img/main-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-resolution: 192dpi) {
  .boxImg {
    background-image: url(../../img/main-mob-2x.jpg);
  }
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.titleIcon {
  width: 44px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .boxImg {
    height: 1024px;
    background-image: url(../../img/main-tab-1x.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .boxImg {
      background-image: url(../../img/main-tab-2x.jpg);
    }
  }

  .title {
    font-size: 100px;
  }

  .titleIcon {
    width: 82px;
    height: 82px;
  }
}

@media screen and (min-width: 1280px) {
  .boxImg {
    height: 800px;
    background-image: url(../../img/main-desktop-1x.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .boxImg {
      background-image: url(../../img/main-desktop-2x.jpg);
    }
  }
}
