.header {
  box-sizing: border-box;
  max-width: 375px;
  padding: 10px 20px;
  margin: 0 auto;
}

.sectionHeader {
  background-color: #f6b83d;
  padding: 18px 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: none;
}

.boxUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.menuButton {
  padding: 0;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f6b83d;
}

.iconMenu {
  width: 24px;
  height: 24px;
}

.modalMenu {
  position: absolute;
  width: 218px;
  height: 812px;
  background-color: #fff;
  top: 0%;
  /* left: 43%; */

  background-color: #544934;
}

.btnLogOut {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 15px 35px;
  background-color: #f6b83d;

  box-sizing: border-box;

  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;

  &:hover {
    background-color: #fff4df;
    color: #f6b83d;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 16px 32px;
  }

  .sectionHeader {
    background-color: #f6b83d;
    padding: 16px 32px;
  }

  .name {
    display: block;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }

  .sectionHeader {
    background-color: #f6b83d;
    padding: 16px 64px;
  }

  .nav {
    display: flex;
  }
  .menuButton {
    display: none;
  }
}
