.header {
  position: relative;
  box-sizing: border-box;
  max-width: 375px;
  padding: 18px 20px;
  margin: 0 auto;
  background-color: inherit;
}

.sectionHeader {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sectionHeaderWhite {
  /* background-color: #fff; */
}

.sectionHeaderYellow {
  padding: 10px 20px;
  background-color: #f6b83d;
}

.nav {
  display: none;
}

.boxUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.menuButton {
  padding: 0;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
}

.modalMenu {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 218px;
  height: 812px;
  top: 0;
  right: 19px;
  padding: 28px 20px;
}

.modalMenuColorWhite {
  background-color: #fff;
}

.modalMenuColorYellow {
  background-color: #f6b83d;
}

.boxButtonClose {
  margin-top: -5px;
}

.buttonClose {
  display: flex;
  align-items: center;
  margin-left: 148px;
  padding: 0;

  background-color: inherit;
  border: none;
}

.iconMenuClose {
  width: 32px;
  height: 32px;
}

.boxLink {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-top: 236px; */
  /* margin-left: 30px; */
}

.linkMenu {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 15px 20px;
  width: 119px;
  height: 48px;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;

  text-align: center;
}

.linkMenuBCWhite {
  border: 1px solid rgba(38, 38, 38, 0.15);
  color: #262626;

  &:hover {
    border: 1px solid #f6b83d;
  }
}

.linkMenuBCYellow {
  color: #fff;
  &:hover {
    background-color: #fff4df;
    color: #f6b83d;
  }
}

.btnLogOut {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 12px 35px;
  width: 178px;
  height: 42px;
  background-color: #f6b83d;
  /* margin-top: 280px; */

  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;

  &:hover {
    background-color: #fff4df;
    color: #f6b83d;
  }
}

.boxAuthNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.linkAuthNav {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
}

.login {
  padding: 12px 62px;
  background-color: #f6b83d;
  width: 178px;
  height: 42px;

  &:hover {
    background-color: #fff4df;
    color: #f6b83d;
  }
}

.registration {
  padding: 12.5px 32px;
  color: #f6b83d;
  background-color: #fff4df;
  width: 178px;
  height: 42px;

  &:hover {
    background-color: #fbe7c1;
  }
}

@media screen and (min-width: 768px) {
  .buttonClose {
    position: relative;
    bottom: 378px;
    left: 65px;
  }

  .modalMenu {
    padding: 39px 32px;
    justify-content: center;
    width: 374px;
    height: 1024px;
  }

  .header {
    max-width: 768px;
    padding: 16px 32px;
  }

  .sectionHeader {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .sectionHeaderYellow {
    padding: 16px 32px;
  }

  .name {
    display: block;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #fff;
  }

  .linkMenu {
    font-size: 16px;
    line-height: 1.25;
    width: 125px;
    height: 48px;
  }

  .boxAuthNav {
    display: none;

    /* display: flex;
    flex-direction: row;
    gap: 8px; */
  }

  .linkAuthNav {
    font-size: 16px;
    line-height: 1.25;
  }

  .login {
    padding: 15px 34px;
    width: 119px;
    height: 50px;
  }

  .registration {
    padding: 15px 20px;

    width: 149px;
    height: 50px;
  }

  .btnLogOut {
    display: none;

    /* font-size: 16px;
    line-height: 1.25; */
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }

  .sectionHeaderYellow {
    padding: 16px 64px;
  }

  .nav {
    display: flex;
  }
  .menuButton {
    display: none;
  }
}
