.div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 15px;
}

.icon {
  background-color: bisque;
}

/*---------------------------------------------*/

/*----------------------------------------------*/
