.editUserBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxNameIcon {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  gap: 4px;
  border-radius: 30px;
  padding: 10px 14px;
  height: 38px;
  background-color: #f6b83d;
}

.name {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

.button {
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 38px;
  height: 38px;
  background-color: #fff4df;
}

.iconUser {
  width: 18px;
  height: 18px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .button {
    margin-bottom: 0px;
  }
}
