.inputSearch {
  box-sizing: border-box;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 33px 12px 12px;
  width: 335px;
  height: 42px;
  background-color: inherit;
}
.buttonSearch {
  box-sizing: border-box;
  border: none;
  padding: 0;
  /* border-radius: 100%; */
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 42px;
  width: 42px;
  /* align-items: center; */
}

.iconSearch {
  display: block;
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
